### Criando regressão linear

In [49]:
import pandas as pd
from sklearn.linear_model import LinearRegression
df = pd.read_csv("../dataset/regressao_simples.csv")
df.head()

   Unnamed: 0  Idade  Salario
0           0     32  5719.00
1           1     28  5064.00
2           2     24  4739.00
3           3     30  5215.00
4           4     30  5215.56

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9942 entries, 0 to 9941
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  9942 non-null   int64
 1   Idade       9942 non-null   int64
 2   Salario     9942 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 233.1 KB

In [51]:
# Definindo Variáveis
x = df["Idade"]
y = df["Salario"]
print(x[0], y[0])

32 5719.0

In [52]:
x = df["Idade"].values.reshape(-1, 1) # Necessário a colunas ser 2D.
y = df["Salario"].values
# criando e treinando o modelo
model = LinearRegression()
model.fit(x, y)
# para visualizar o R²
model.score(x,y)
print(f"Seu score é: {model.score(x,y)}")

Seu score é: 0.7093668406610916

In [53]:
previsao_idade = [[44]]
salario_previsto = model.predict(previsao_idade)
print(f"Salário previsto para idade {previsao_idade[0][0]}: R$ {salario_previsto[0]:.2f}")

Salário previsto para idade 44: R$ 6848.16